<h2 class="h1 font-weight-bold text-center" style="padding-top: 150px">Team</h2>
<p class="text-center mx-auto mb-5">Voici la séction team :</p>
<div class="container">
  <div class="row">

    <div class="col-md-12 text-center">
      <ul class="list-unstyled mb-0">
        <li><i class="fas fa-map-marker-alt fa-2x"></i>
          <p>Hareish JEYAKUMAR  (bg)</p>
        </li>

        <li><i class="fas fa-phone mt-4 fa-2x"></i>
          <p>Raghoul JEMINTHAR (moche)</p>
        </li>

        <li><i class="fas fa-envelope mt-4 fa-2x bd"></i>
          <p> Amel GUEDDA</p>
        </li>
        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
          <p> Aurelien AMATIAZ</p>
        </li>
        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
          <p>Flora JULIE</p>
        </li>
        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
          <p>Nelly G DE MAISA </p>
        </li>
      </ul>
    </div>
  </div>
</div>